# Template specific files
*.sh
_site/
.jekyll-metadata
Gemfile.lock
Gemfile

# Add your own files to be ignored from git in here

E20-CO225-MENTOR-MATE/MentorMateStage1/__pycache__/
E20-CO225-MENTOR-MATE/MentorMateStage1/myenv/
E20-CO225-MENTOR-MATE/MentorMateStage1/.env
E20-CO225-MENTOR-MATE/MentorMateStage1/vectorDb
