# Template specific files
*.sh
_site/
.jekyll-metadata
Gemfile.lock
Gemfile

# Add your own files to be ignored from git in here

MentorMateStage1/__pycache__/
MentorMateStage1/myenv/
MentorMateStage1/.env
